
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.container
{
margin: 0% auto;
max-width: 900px;

/* background-color: #e5e5e5;
border:10px solid #1d1e4c */



}
.top-section{
    margin-top: 100px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.apply-box
{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto ;
    margin-top: 50px;
    box-shadow: 4px, 3px,5px rgba(3, 1, 1, 0.1);
    border-radius: 10px;


}
.text-small{
    font-size: 20px;
}
.form-container {
    display:grid ;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-top: 30px;
}
.form-control {
    display: flex;
    flex-direction: column;

}
label {
    font-size:15px;
    margin-bottom:5px;



}
input, 
select, 
textarea {
    padding: 6ox 10px;
    border:1px solid gainsboro; 
    border-radius: 4px;
    font-size:15px;
}
input:focus {
    outline-color:blue;
}
.button-container {
        display:flex;
        justify-content:flex-end;
       margin-top: 20px; 
}
    button {
        background-color: red;
        border:transparent solid 2px;
        padding:5px 10px;
        color:white;
        border: radius 8px;
        transition: 0.3 ease-in;

    }
 button:hover {
        background-color:grey;
        border: 2px solid red;
        color: black;
        transition: 0.3s ease-out;
        cursor: pointer;

    }
    @media(max-width: 460px)
    {
        
    }
    .text-area{
        grid-column: 1/span 2;
    }
    .text-area textarea{
        width: 100%;
    }



